@using Rcm.Web.Extensions;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/flatpickr/dist/flatpickr.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/flatpickr/dist/flatpickr.min.css" />
    </environment>
    @RenderSection("Styles", false)
</head>
<body>
    <nav>
        <ul>
            <li>
                <a asp-page="/Now" class="@(Html.GetActiveClassIfCurrentPage("/Now"))">Now</a>
            </li>
            <li>
                <a asp-page="/Daily" class="@(Html.GetActiveClassIfCurrentPage("/Daily"))">Today</a>
            </li>
            <li>
                <a asp-page="/History" class="@(Html.GetActiveClassIfCurrentPage("/History"))">History</a>
            </li>
        </ul>
        <ul>
            <li>
                <a asp-page="/Status" class="@(Html.GetActiveClassIfCurrentPage("/Status"))">Status</a>
            </li>
        </ul>
    </nav>
    
    <div class="content">
        @RenderBody()
    </div>

    <script type="text/javascript">
        const pageModule = "@ViewData["Module"]";
    </script>
    <script
        data-main=@Context.AppendVersionToPath(Href("~/js/bootstrap.js"))
        src=@Href("~/lib/requirejs/require.js")></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
